*,
*::after,
*::before {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[status="hidden"] {
    display: none;
}

.wrapper {
    align-self: center;
}

.game {
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.round-container__game-name {
    font-size: 2em;
    font-weight: bolder;
    color: white;
}

.main-section {
    display: flex;
    justify-content: center;
}

.round-container {
    margin: auto;
    width: max-content;
    display: flex;
    padding: 2em;
    position: relative;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(48, 101, 180);
    border-radius: 50%;
    margin: 1.5em;
    border: solid white 2px;
    color: white;
}

.button--state-correct {
    background-color: rgb(25, 211, 96);
}

.button--state-incorrect {
    background-color: rgb(182, 31, 44);
}

.round-container__game-name {
    position: absolute;
}

.questions-and-answers,
.instructions {
    margin-left: 2em;
    width: 30vw;
    color: white;
}

.input-field {
    width: inherit;
    padding: 1em;
    border-radius: 4px;
    border: none;
    font-size: 15px;
}

.send-buttons {
    margin-top: 2em;
}

.send-buttons > * {
    text-decoration: none;
    padding: 1em;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 7px;
}

.send-buttons__green {
    background-color: rgb(25, 211, 96);
    color: rgb(255, 255, 255);
}

.send-buttons__green:hover {
    background-color: rgb(0, 138, 53);
    transition: 0.5s;
}

.send-buttons__blue {
    background-color: rgb(48, 101, 180);
    color: white;
}

.send-buttons__blue:hover {
    background-color: rgb(29, 58, 102);
    transition: 0.5s;
}

.puntuation {
    width: 5em;
    height: 8em;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.puntuation > * {
    width: 3em;
    height: 3em;
    background-color: rgb(48, 101, 180);
    border: solid rgb(255, 255, 255) 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puntuation__timer {
    border-radius: 50%;
}

.puntuation__points {
    margin-top: 0.5em;
    border-radius: 7px;
}

.round-container__circle {
    position: relative;
    width: 21.375em;
    height: 21.375em;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
}
.round-container__circle > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin: -0.625em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.round-container__circle > *:nth-of-type(1) {
    transform: rotate(270deg) translate(10.6875em) rotate(-270deg);
}
.round-container__circle > *:nth-of-type(2) {
    transform: rotate(283.3deg) translate(10.6875em) rotate(-283.3deg);
}
.round-container__circle > *:nth-of-type(3) {
    transform: rotate(296.6deg) translate(10.6875em) rotate(-296.6deg);
}
.round-container__circle > *:nth-of-type(4) {
    transform: rotate(309.9deg) translate(10.6875em) rotate(-309.9deg);
}
.round-container__circle > *:nth-of-type(5) {
    transform: rotate(323.2deg) translate(10.6875em) rotate(-323.2deg);
}
.round-container__circle > *:nth-of-type(6) {
    transform: rotate(336.5deg) translate(10.6875em) rotate(-336.5deg);
}
.round-container__circle > *:nth-of-type(7) {
    transform: rotate(349.8deg) translate(10.6875em) rotate(-349.8deg);
}
.round-container__circle > *:nth-of-type(8) {
    transform: rotate(363.1deg) translate(10.6875em) rotate(-363.1deg);
}
.round-container__circle > *:nth-of-type(9) {
    transform: rotate(376.4deg) translate(10.6875em) rotate(-376.4deg);
}
.round-container__circle > *:nth-of-type(10) {
    transform: rotate(389.7deg) translate(10.6875em) rotate(-389.7deg);
}
.round-container__circle > *:nth-of-type(11) {
    transform: rotate(403deg) translate(10.6875em) rotate(-403deg);
}
.round-container__circle > *:nth-of-type(12) {
    transform: rotate(416.3deg) translate(10.6875em) rotate(-416.3deg);
}
.round-container__circle > *:nth-of-type(13) {
    transform: rotate(429.6deg) translate(10.6875em) rotate(-429.6deg);
}
.round-container__circle > *:nth-of-type(14) {
    transform: rotate(442.9deg) translate(10.6875em) rotate(-442.9deg);
}
.round-container__circle > *:nth-of-type(15) {
    transform: rotate(456.2deg) translate(10.6875em) rotate(-456.2deg);
}
.round-container__circle > *:nth-of-type(16) {
    transform: rotate(469.15deg) translate(10.6875em) rotate(-469.15deg);
}
.round-container__circle > *:nth-of-type(17) {
    transform: rotate(482.45deg) translate(10.6875em) rotate(-482.45deg);
}
.round-container__circle > *:nth-of-type(18) {
    transform: rotate(495.75deg) translate(10.6875em) rotate(-495.75deg);
}
.round-container__circle > *:nth-of-type(19) {
    transform: rotate(509.05deg) translate(10.6875em) rotate(-509.05deg);
}
.round-container__circle > *:nth-of-type(20) {
    transform: rotate(522.35deg) translate(10.6875em) rotate(-522.35deg);
}
.round-container__circle > *:nth-of-type(21) {
    transform: rotate(535.65deg) translate(10.6875em) rotate(-535.65deg);
}
.round-container__circle > *:nth-of-type(22) {
    transform: rotate(548.95deg) translate(10.6875em) rotate(-548.95deg);
}
.round-container__circle > *:nth-of-type(23) {
    transform: rotate(562.25deg) translate(10.6875em) rotate(-562.25deg);
}
.round-container__circle > *:nth-of-type(24) {
    transform: rotate(575.55deg) translate(10.6875em) rotate(-575.55deg);
}
.round-container__circle > *:nth-of-type(25) {
    transform: rotate(588.85deg) translate(10.6875em) rotate(-588.85deg);
}

.round-container__circle > *:nth-of-type(26) {
    transform: rotate(602.15deg) translate(10.6875em) rotate(-602.15deg);
}

.round-container__circle > *:nth-of-type(27) {
    transform: rotate(615.45deg) translate(10.6875em) rotate(-615.45deg);
}
