*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
    background: #ffafbd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffc3a0,
        #ffafbd
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffc3a0,
        #ffafbd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Roboto", sans-serif;
}

.title {
    color: #a06340;
    margin: auto;
}

.wrapper {
    background-color: rgb(255, 164, 111);
    width: 800px;
    height: 700px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.front-pannel {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    padding: 1rem;
    align-items: center;
}

.front-pannel.circle {
    height: 90px;
    width: 90px;
    background-color: #ffddd2;
    border-radius: 50px;
    justify-self: center;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: inset -3px -6px 0px #a06340;
}

.chips-pannel {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    padding: 1rem;
    align-items: center;
}

.front-pannel.circle.pink {
    background: rgb(255, 110, 175);
    z-index: 1;
    box-shadow: none;
}

.front-pannel.circle.orange {
    background: rgb(255, 126, 75);
    z-index: 1;
    box-shadow: none;
}
