*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 7% 1fr 1fr;
    align-items: center;
    background: #ffafbd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffc3a0,
        #ffafbd
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffc3a0,
        #ffafbd
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Roboto Mono", monospace;
}

.header {
    background-color: rgb(190, 38, 102);
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    color: white;
}

.title {
    color: rgb(190, 38, 102);
    font-size: 3em;
    justify-self: start;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: end;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 3s steps(14) 1s 1 normal both,
        blinkTextCursor 500ms steps(14) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 8.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.game-description {
    color: white;
    align-self: start;
    width: 60%;
    font-size: 20px;
}

.wrapper {
    background-color: rgb(255, 164, 111);
    width: 800px;
    height: 700px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: -3px -6px 0px #a06340;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 2rem;
    justify-self: end;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.front-pannel {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    padding: 1rem;
    align-items: center;
}

.front-pannel.circle {
    height: 90px;
    width: 90px;
    background-color: #ffddd2;
    border-radius: 50px;
    justify-self: center;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: inset -3px -6px 0px #a06340;
}

.chips-pannel {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    padding: 1rem;
    align-items: center;
}

.front-pannel.circle.pink {
    background: rgb(255, 110, 175);
    background: -webkit-repeating-linear-gradient(
        -45deg,
        rgb(255, 110, 175),
        rgb(255, 110, 175) 3px,
        rgb(255, 165, 205) 3px,
        rgb(255, 165, 205) 7px
    );
    background: repeating-linear-gradient(
        -45deg,
        rgb(255, 110, 175),
        rgb(255, 110, 175) 3px,
        rgb(255, 165, 205) 3px,
        rgb(255, 165, 205) 7px
    );
    z-index: 1;
    box-shadow: none;
}

.front-pannel.circle.orange {
    background: -webkit-repeating-linear-gradient(
        -45deg,
        #ffaa88,
        #ffaa88 3px,
        #ffcb9b 3px,
        #ffcb9b 7px
    );
    background: repeating-linear-gradient(
        -45deg,
        #ffaa88,
        #ffaa88 3px,
        #ffcb9b 3px,
        #ffcb9b 7px
    );
    z-index: 1;
    box-shadow: none;
}
